<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача 1 - Информация о главных секциях сметы</title>
</head>
<body>
{% if sections|length > 0 %}
    {% for section in sections %}
        <p>ID - {{ section.parent_id }}</p>
        <p>Название - {{ section.parent__name }}</p>
        <p>Стоимость - {{ section.total_price }}</p>
        {% if section.total_price > 0 %}
            <button type="submit">
                <a href="{% url 'construction_obj:update_section' pk=section.parent_id %}">Добавить скидку</a>
            </button>
        {% endif %}
        <hr>
    {% endfor %}
{% else %}
    <h3>Данные о смете не добавлены.</h3>
{% endif %}
</body>
</html>