<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача 2 - Получение всех объектов с расчетом стоимости работ и материалов</title>
</head>
<body>
{% for obj in buildings %}
    <ul>
        <li><a href="{% url "construction_obj:detail_building" pk=obj.pk %}">ID{{ obj.pk }} - {{ obj.name }}</a></li>
            <p>Стоимость работ - {% if obj.works_amount %}{{ obj.works_amount }}{% else %}...{% endif %}</p>
            <p>Стоимость материалов - {% if obj.materials_amount %}{{ obj.materials_amount }}{% else %}...{% endif %}</p>
    </ul>
    <hr>
{% endfor %}
</body>
</html>